.overlay-container {
  position: relative;
  display: inline-block;
}
.overlay-container:hover .overlay {
  opacity: 1;
}
.overlay-container .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #000000;
  color: #ffffff;
}
.overlay-container .overlay .overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.overlay-container .overlay .overlay-content a {
  color: #ffffff;
  text-decoration: none;
  white-space: nowrap;
}
.overlay-container .overlay.overlay-sm {
  height: 30px;
  width: auto;
  top: auto;
  bottom: 20px;
  left: 15px;
  right: 15px;
  border-radius: 0;
}
.overlay-container .overlay.overlay-sm .overlay-content {
  font-size: 18px;
  transform: none;
  top: 2px;
  left: 0;
}
.overlay-container .overlay.overlay-sm .overlay-content a {
  margin-left: 10px;
}
/* ========================================================================
   Component: form-validation.less
 ========================================================================== */
.parsley-error {
  border-color: #f6504d !important;
}
.parsley-errors-list {
  display: none;
  margin: 0;
  padding: 0;
}
.parsley-errors-list.filled {
  display: block;
}
.parsley-errors-list > li {
  font-size: 12px;
  list-style: none;
  color: #f6504d;
}
