<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        Copyright © 2022 by CreateAllByMySelf. 
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright ml-auto">
            All Rights Reserved.</a>
        </div>				
    </div>
</footer>