<div class="main-header">
    <div class="logo-header" data-background-color="blue2" style="padding: 0;">
        <div class="col-sm-4">
            <img src="../favicon.png" alt="..." class="avatar-img rounded-circle" style="width: 50px;">
        </div>
        <h1 style="margin-top: 15px;color: white;">Dashboard</h1>
    </div>
    <nav class="navbar navbar-header navbar-expand-lg" data-background-color="blue">
    </nav>
</div>