<div class="main-header">
    <div class="logo-header" data-background-color="green2" style="padding: 0;">
        <div class="col-sm-4">
            <img src="../favicon.png" alt="..." class="avatar-img rounded-circle" style="width: 50px;">
        </div>
        <!-- <div class="col-sm-8" style="margin: auto;"> -->
            <h1 style="margin-top: 15px;color: white;">Dashboard</h1>
            <!-- <div class="info"> -->
                <!-- <a data-toggle="collapse" href="#collapseExample" aria-expanded="true"> -->
                    <!-- <span> -->
                        <!-- <%= emails %> -->
                        <!-- <span class="user-level"><%= role %></span> -->
                    <!-- </span> -->
                <!-- </a> -->
            <!-- </div> -->
        <!-- </div> -->
        <!-- <div class="user"> -->
            <!-- <div class="avatar-sm float-left mr-2">
            </div> -->
            <!-- <div class="info">
                <a data-toggle="collapse" href="#collapseExample" aria-expanded="true">
                    <span>
                        <%= emails %>
                        <span class="user-level"><%= role %></span>
                    </span>
                </a>
            </div> -->
        <!-- </div> -->

        <!-- <button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse"
            data-target="collapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">
                <i class="icon-menu"></i>
            </span>
        </button>
        <button class="topbar-toggler more"><i class="icon-options-vertical"></i></button>
        <div class="nav-toggle">
            <button class="btn btn-toggle toggle-sidebar">
                <i class="icon-menu"></i>
            </button>
        </div> -->
    </div>
    <nav class="navbar navbar-header navbar-expand-lg" data-background-color="green">
    </nav>
</div>