<% layout('layout-doc') -%>
    <div class="container">
        <div class="panel-header bg-success-gradient">
            <div class="page-inner py-5">
                <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
                    <div>
                        <h2 class="text-white pb-2 fw-bold">Documentation</h2>
                        <h5 class="text-white op-7 mb-2">API usage guide</h5>
                    </div>

                </div>
            </div>
        </div>
        <div class="page-inner mt--5">
            <div class="row mt--2">
                <div class="col-md-12">
                    <div class="card full-height">
                        <div class="card-body">
                            <div class="card-title">Docs Use Api Send Message</div>
                            <div class="d-flex flex-wrap justify-content-around pb-2 pt-4">
                                <div class="col-md-12">
                                    <h2>api-v1/send-message</h2>
                                </div>
                                <br>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="col-md-12">                                                
                                                <h4>Header</h4>
                                                <img src="../images/media-header.png" style="width: 100%;">
                                                <h5>Authorization : API KEY</h5>
                                            </div>

                                            <div class="col-md-12">                                                
                                                <h4>Body</h4>
                                                <img src="../images/media-json.png" style="width: 100%;">
                                            </div>
                                        </div>

                                        <div class="col-md-6">
<pre>
    <code>
        {
            "status": 200,
            "response": {
                "_data": {
                "id": {
                    "fromMe": true,
                    "remote": {
                    "server": "c.us",
                    "user": "6285725834330",
                    "_serialized": "6285725834330@c.us"
                    },
                    "id": "3EB0A1D1EC6D608485F9",
                    "self": "out",
                    "_serialized": "true_6285725834330@c.us_3EB0A1D1EC6D608485F9_out"
                },
                "body": "Text Only",
                "type": "chat",
                "t": 1661609870,
                "from": {
                    "server": "c.us",
                    "user": "6285725834330",
                    "_serialized": "6285725834330@c.us"
                },
                "to": {
                    "server": "c.us",
                    "user": "6285725834330",
                    "_serialized": "6285725834330@c.us"
                },
                "self": "out",
                "ack": 0,
                "isNewMsg": true,
                "star": false,
                "kicNotified": false,
                "isFromTemplate": false,
                "pollInvalidated": false,
                "mentionedJidList": [],
                "isVcardOverMmsDocument": false,
                "isForwarded": false,
                "hasReaction": false,
                "disappearingModeInitiator": "chat",
                "productHeaderImageRejected": false,
                "lastPlaybackProgress": 0,
                "isDynamicReplyButtonsMsg": false,
                "isMdHistoryMsg": false,
                "requiresDirectConnection": null,
                "pttForwardedFeaturesEnabled": true
                },
                "id": {
                "fromMe": true,
                "remote": {
                    "server": "c.us",
                    "user": "6285725834330",
                    "_serialized": "6285725834330@c.us"
                },
                "id": "3EB0A1D1EC6D608485F9",
                "self": "out",
                "_serialized": "true_6285725834330@c.us_3EB0A1D1EC6D608485F9_out"
                },
                "ack": 0,
                "hasMedia": false,
                "body": "Text Only",
                "type": "chat",
                "timestamp": 1661609870,
                "from": "6285725834330@c.us",
                "to": "6285725834330@c.us",
                "deviceType": "web",
                "isForwarded": false,
                "forwardingScore": 0,
                "isStarred": false,
                "fromMe": true,
                "hasQuotedMsg": false,
                "vCards": [],
                "mentionedIds": [],
                "isGif": false
            }
            }
    </code>
</pre>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="card full-height">
                        <div class="card-body">
                            <div class="card-title">Docs Use Api Send Message Media</div>
                            <div class="d-flex flex-wrap justify-content-around pb-2 pt-4">
                                <h2>/api-v1/send-media</h2>
                                <br>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="col-md-12">                                                
                                                <h4>Header</h4>
                                                <img src="../images/media-header.png" style="width: 100%;">
                                                <h5>Authorization : API KEY</h5>
                                            </div>

                                            <div class="col-md-12">                                                
                                                <h4>Body</h4>
                                                <img src="../images/media-form.png" style="width: 100%;">
                                            </div>
                                        </div>

                                        <div class="col-md-6">
<pre>
    <code>
        {
            "status": 200,
            "response": {
                "_data": {
                "id": {
                    "fromMe": true,
                    "remote": {
                    "server": "c.us",
                    "user": "6285725834330",
                    "_serialized": "6285725834330@c.us"
                    },
                    "id": "3EB03F1DBCAA2CB610D5",
                    "self": "out",
                    "_serialized": "true_6285725834330@c.us_3EB03F1DBCAA2CB610D5_out"
                },
                "body": "/9j/4AAQSkZJRgABAQAAAQABAAD/4gIoSUNDX1BST0ZJTEUAAQEAAAIYAAAAAAQwAABtbnRyUkdCIFhZWiAAAAAAAAAAAAAAAABhY3NwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAA9tYAAQAAAADTLQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAlkZXNjAAAA8AAAAHRyWFlaAAABZAAAABRnWFlaAAABeAAAABRiWFlaAAABjAAAABRyVFJDAAABoAAAAChnVFJDAAABoAAAAChiVFJDAAABoAAAACh3dHB0AAAByAAAABRjcHJ0AAAB3AAAADxtbHVjAAAAAAAAAAEAAAAMZW5VUwAAAFgAAAAcAHMAUgBHAEIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFhZWiAAAAAAAABvogAAOPUAAAOQWFlaIAAAAAAAAGKZAAC3hQAAGNpYWVogAAAAAAAAJKAAAA+EAAC2z3BhcmEAAAAAAAQAAAACZmYAAPKnAAANWQAAE9AAAApbAAAAAAAAAABYWVogAAAAAAAA9tYAAQAAAADTLW1sdWMAAAAAAAAAAQAAAAxlblVTAAAAIAAAABwARwBvAG8AZwBsAGUAIABJAG4AYwAuACAAMgAwADEANv/bAEMAAwICAgICAwICAgMDAwMEBgQEBAQECAYGBQYJCAoKCQgJCQoMDwwKCw4LCQkNEQ0ODxAQERAKDBITEhATDxAQEP/bAEMBAwMDBAMECAQECBALCQsQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEP/AABEIADgAZAMBIgACEQEDEQH/xAAcAAADAAMBAQEAAAAAAAAAAAAABAUBAwYCBwj/xAA3EAACAgEDAgIGCAYDAQAAAAABAgMEEQAFEgYhEzEIFCJBgdEHFSMyUVVhkxYzUlRxsSRCkcH/xAAbAQADAQADAQAAAAAAAAAAAAAAAgMBBAUGB//EADARAAEDAgMGBAUFAAAAAAAAAAEAAgMEEQUhMRJBUWFx0ROR4fAWIjJCoWKBscHx/9oADAMBAAIRAxEAPwD8hy7ga+41BfrWIK0tQO6PNFA0x48Q6O0LAKc5xxJOD7We4QuX70k7epbtRhrqSIklkikdVPuZxGvI/rgfDXQ9NdRt07e3LwpN8retbM5hXZLcoK2ECMs8vhyocKBK55EhGIJQgFdcRud6vceCSagEsiAesTx2mka1KzM5mcuWw5DKCBgez5Ak6q+OzGyFwN79cuPW6jHJeR0QaRs2z3G/DpbNUW3aan4Ul/cYpozZiD+rTRqRD3Eg/lPgkYw+DxIJ4sT21S76Jtkgs1L8kE6Mq2jMRIOfGQ4AWsoTnwAVfEbBzntkrDsWAu3zVhEMSPG/Is2RxBGMA8e/I+YJGBgjvl3p9ujkrQP1bBu0kQuNyTbZa6SSQ+EeS8nVmjbxBDxYqylWlwMqQybQDSD6qhBvcJyjujW5oop+r9vpLJ96SevMVj8/veHCx9w8gfMfrjzD1BZmEgk6iow+BXMqc6rfasVX7IcYj7fcjLYXKk8vImLMNhlvWRHavQ0lf/ik1o3lKGQfzMOo5BCxyM5IA9kHKqXUpx3J026eaeosrCCWeERSPHk8WZAzBGIwSoZgD2yfPSn5TspgQ7MBWT1jujEEzr2UL2rRDsDn8PP9fM68N1ZuTnJsH4RIP9DUPRoQrf8AFO4/3Lftp8tH8U7j/ct+2ny1E0aEK3/FO4/3Lftp8tbouot08FrbmZ4VyhZUQAMR2ycH3kfMeeue1b2luG2u000Tx+KeEEk0a5bCglRJGwzgjvkfd/xnCbC6VxsFSrXuoN1ElnaopWriRkUO0RZfeASQuTgjvgf/ADRrnod0v0PEgo25YIi5birg/p5jsewHfRrU2q+iJvdCTcpn3jqOzskY2CWhDJse2oPWX8FUWCdQ0XJX7iWU8mJy2H7Z1T/SNNR2etsHT26b9WqVqtdAyTQVpTJ4LmZC8UfiNELE0zIrOcoxyAxyOb3+eazNDJPIXYRiME/0qoVR8AAPhqVqrpi5jWEaX/PvupNhDXueDrb8e+yudW9WXeoILUTbnv8ANSNlJa0G57ubhiABHtHggd+/3wq4GRg57S4Okt/muWqBoyu9C6KVqKBkllSXEhISMNmQhYJe69vZAyOS5Ts/yW+H+9brvqVDqK4y0qNitWuOUrpYkkrSIsv3BIrK7Rle3IMGI75B76nqnfe3y6++i9brt27Ut1m2iXa5at2C5JXlrx824WFbiY1PJuRBH457+8Y0zZ2zqO4d3uRbHulZIrBltV4a87QVlIZiHZ2Zl4gjHMsSpJLdu6kcW2LDKJZ6DySymKMhpwYQSPtSOJDIADgZ55YEg4I1pvxVJLll69ijFGq841g8cxsew4J4gL59/tHHY9/IaUOzzv8Awltl6e+6SbGFHHBAwf1OTrGnpduqR+Jw32jLwj5rwSccz39kZjHft78DuO/npHGgG6cG+iNGmU2zcZFDpQsMrDIIiYgj8fLWfqrdPy21+y3y1q1K6sbTdFGk8kkfiq0wAQXTCVIwc8QwPuHfB8vMY0j9Vbp+W2v2W+WtibFvckbTR7PdaNGRGYV3IDOcKCceZPYD3nWOAIsVhG1kkdGjGjWrV0m8/fi/wdTdd1Tr2dqtyXY9h2nqMJtr2JKsxaZI4GC+JIwjZWUoCVPtKyE8hjHLVWTpDq7dun/VNk2gW5npbabcbdP7bXaNJYlauYp1cytzUL9oArSMSHyxINHR7LQ6+vr23ct+Sk2Rznubs5Dfx4+XO1/2Xy2wjmq8oRiilVLY7AnyGfgf/DpDP4ADXXdXVrdOq9XfoJ6G7xNCppDaoa0XhcSOZZCpLdkxmM8ubnlke1yOlc0tNiqNcHC7VkOVZWAXKeWVBHnnv+Px1jRo0q1GjRo0ITabvu0UHqse6W0hyD4azsFyAQO2cdgSB/nWPrXdPzK1+83z0ro0ITX1run5la/eb568S7hfnQxTXbEiN5q0jEH4E60aNCEaNGjQhfqKz6OnTW6/V1aj1e9i/Y2pdweHjHWSv2kMkbvJks6eGvshcuXwvkvLp+pfRUjtdPbDcsb/ANMUksV41kuQblclm4xxpHm0spdY+AUnCIq+03EFQoU0a95XxU1JCSyFp+vUH7WyEaEb2jzK+TQYrXznbMzhkNDxcwHUHc4+QUiT0Rt23DZqlN9/StXVC2DNMylwzMS3sNGHxIFwuMhcgE82MCp6Ia3q4tQdTFYyGP2yyQMAH4nKyRKw7+WR3HcZHfRo1fDIaSuqpYZoG2YXAfVezQ233c0VuIV9LDFJFO4bbQ46akuvu5DW55p4+heACB1vRkfwo5ljgnM7FWDF8+FE3AxhG5h+OMe/Iyv0n6HkXV12WlV6xgptFWFnnYMjKyl1UAeFC5zlwT2wACSRo0a2Gko5BnA37dx3gnjyT02J4hNGXundlfhnmwZ5fqOlkjuHot7DtU9qld6vtGzXcxr4MKtG5HLJywV17hPNM+02QOIDTtw9HnpauIPUeqNznLRKZ/ErxxhJP+yrgtzUdsMeJP8ASNGjXoKfAMMkja90IzA48Oq62TH8Ta9zBO7Inhx6JwejT0ncpJNsnV+6X7YiR56QqRpNG3fxOILHxVUYIKZYjkWVAMmefoO+jVHqiTrDqUI7uLRG11yYlBPAoPG+0JHHIJTGTgtjJNGj4ewwkt8EZf2uSzG8RIDjM7/O6mp9EHQL7xFto6m3pY5lCrNLFTgAkZgqgmWZUVeTLycuOK8mIwpOtcn0W/Ro1G1Yo9SdT2bCXIq1autSiZJ1mRmhPBbJk5HgwcIjrGxRWbk6qTRrpavDaKKUsZC2wt71XeUlXVyRhz5nEnn6KXb+jzo7b52pbne6ioXIfZnr26ISSNvMdgD5qVPfB7+WMEmjRqTaKjcAfBb5HurGaqBt47/Mdl//2Q==",
                "type": "image",
                "t": 1661613661,
                "from": {
                    "server": "c.us",
                    "user": "6285725834330",
                    "_serialized": "6285725834330@c.us"
                },
                "to": {
                    "server": "c.us",
                    "user": "6285725834330",
                    "_serialized": "6285725834330@c.us"
                },
                "self": "out",
                "ack": 0,
                "isNewMsg": true,
                "star": false,
                "kicNotified": false,
                "caption": "Testing kirim Gambar",
                "deprecatedMms3Url": "https://mmg.whatsapp.net/d/f/AsXiHsp1bDqKz9S6qtvawVYNAsHqzeTcVpQ6IQ-aYT3X.enc",
                "directPath": "/v/t62.7118-24/19918967_1122839838588781_7832564200135213655_n.enc?ccb=11-4&oh=01_AVxZNnLHFL1BvrMdzaBEdt21phcTHqwC29TzbtxJpr0icQ&oe=6330A856",
                "mimetype": "image/jpeg",
                "filehash": "Nf5REYKTdLFiXydqvEsRS66AR0jLYYQrFhqSMYJzzPQ=",
                "encFilehash": "wfVTwgPgznjsj5FJ5T/VlwOecdxTaECA6Rha3lVMuoU=",
                "size": 130274,
                "mediaKey": "2bZ0TEJwlM9nH6q4mZraiege/rkoFvd6pwORFxMtTOk=",
                "mediaKeyTimestamp": 1661613660,
                "streamable": false,
                "isFromTemplate": false,
                "pollInvalidated": false,
                "mentionedJidList": [],
                "isVcardOverMmsDocument": false,
                "isForwarded": false,
                "hasReaction": false,
                "disappearingModeInitiator": "chat",
                "productHeaderImageRejected": false,
                "lastPlaybackProgress": 0,
                "isDynamicReplyButtonsMsg": false,
                "isMdHistoryMsg": false,
                "requiresDirectConnection": null,
                "pttForwardedFeaturesEnabled": true
                },
                "mediaKey": "2bZ0TEJwlM9nH6q4mZraiege/rkoFvd6pwORFxMtTOk=",
                "id": {
                "fromMe": true,
                "remote": {
                    "server": "c.us",
                    "user": "6285725834330",
                    "_serialized": "6285725834330@c.us"
                },
                "id": "3EB03F1DBCAA2CB610D5",
                "self": "out",
                "_serialized": "true_6285725834330@c.us_3EB03F1DBCAA2CB610D5_out"
                },
                "ack": 0,
                "hasMedia": true,
                "body": "Testing kirim Gambar",
                "type": "image",
                "timestamp": 1661613661,
                "from": "6285725834330@c.us",
                "to": "6285725834330@c.us",
                "deviceType": "web",
                "isForwarded": false,
                "forwardingScore": 0,
                "isStarred": false,
                "fromMe": true,
                "hasQuotedMsg": false,
                "vCards": [],
                "mentionedIds": [],
                "isGif": false
            }
            }
    </code>
</pre>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>