<% layout('layout') -%>
    <style>
        .client {
            border: 1px solid #ccc;
            padding: 20px;
            box-sizing: border-box;
            display: inline-block;
            margin: 10px;
            border-radius: 20px;
            -webkit-box-shadow: 3px 3px 5px 6px #ccc;
            -moz-box-shadow: 3px 3px 5px 6px #ccc;
            box-shadow: 3px 3px 5px 6px #ccc;
        }

        .hide {
            display: none;
        }
    </style>
    <div class="container">
        <div class="panel-header bg-primary-gradient">
            <div class="page-inner py-5">
                <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
                    <div>
                        <h2 class="text-white pb-2 fw-bold">Home</h2>
                        <h5 class="text-white op-7 mb-2">Rekap Permintaan</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-inner mt--5">
            <div class="row mt--2">
                <div class="col-md-12">
                    <div class="card full-height">
                        <div class="card-body">
                            <div class="d-flex flex-wrap justify-content-around pb-2 pt-4">

                                <div class="client" style="width: 30%;">
                                    <div class="card-header text-left" style="padding:0px;padding-bottom:10px;">
                                        <h1 class="title">Hari ini</h1>
                                    </div>
                                    
                                    <div style="margin-top: 5px;margin-bottom: 5px;text-align-last: right;">
                                        <strong style="font-size: xxx-large;">0</strong>
                                        <span style="font-size: 25px;"> Permintaan</span>
                                    </div>
                                </div>
                                <div class="client" style="width: 30%;">
                                    <div class="card-header text-left" style="padding:0px;padding-bottom:10px;">
                                        <h1 class="title">Minggu ini</h1>
                                    </div>
                                    
                                    <div style="margin-top: 5px;margin-bottom: 5px;text-align-last: right;">
                                        <strong style="font-size: xxx-large;">0</strong>
                                        <span style="font-size: 25px;"> Permintaan</span>
                                    </div>
                                </div>
                                <div class="client" style="width: 30%;">
                                    <div class="card-header text-left" style="padding:0px;padding-bottom:10px;">
                                        <h1 class="title">Bulan ini</h1>
                                    </div>
                                    
                                    <div style="margin-top: 5px;margin-bottom: 5px;text-align-last: right;">
                                        <strong style="font-size: xxx-large;">0</strong>
                                        <span style="font-size: 25px;"> Permintaan</span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/core.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/md5.js"></script>

    <script>
        $(document).ready(function () {
            console.log("IOSSSSSSSSSSSSSSS");
        });
    </script>