<% layout('layout_permintaan') -%> 
<div class="container">
    <div class="panel-header bg-primary-gradient">
        <div class="page-inner py-5">
            <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
                <div>
                    <h2 class="text-white pb-2 fw-bold">List Permintaan</h2>
                    <h5 class="text-white op-7 mb-2">Daftar Permintaan</h5>
                </div>
                
            </div>
        </div>
    </div>
    <div class="page-inner mt--5">
        <div class="row mt--2">
            <div class="col-md-12">
                <div class="card full-height">
                    <div class="card-header">
                        <div class="pull-right" style="margin-bottom:5px;">
                            <div class="input-group input-group-sm" style="width: 300px;">
                            <input type="text" name="daterange" class="form-control pull-right" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="box">
                          <div class="box-body">
                            <table class="table" id="example">
                                <thead>
                                    <tr>
                                    <th scope="col">No</th>
                                    <th scope="col">Nama</th>
                                    <th scope="col">Barang</th>
                                    <th scope="col">Merk</th>
                                    <th scope="col">Jumlah</th>
                                    <th scope="col">Tanggal</th>
                                    <th scope="col">#</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.js" type="text/javascript"></script>

<script type="text/javascript">
    
    $(function() {
        $('input[name="daterange"]').daterangepicker({
        opens: 'left'
    }, function(start, end, label) {
        $('#example').DataTable().destroy();
        get_data_transaksi(start.format('YYYY-MM-DD'), end.format('YYYY-MM-DD'));
    });
    });

    $(document).ready(function() {
        get_data_transaksi('', '');
    });
    

    function get_data_transaksi(tglBegin, tglEnd){
        if(tglBegin == '')
            tglBegin = '1000-01-01';

        if(tglEnd == '')
            tglEnd = '9999-12-31';

        $('#example').DataTable({
            dom: 'Blfrtip',
            buttons: [
                'excel', 'csv'
            ],
            "lengthMenu": [10, 20, 50, 100, 200, 500, 1000, 5000, 10000],
            "pageLength": 20,
            "processing": true,
            ajax: {
                'url':'/permintaan/listPermintaan',
                'type': 'POST',
                'data' : {
                    tglBegin : tglBegin,
                    tglEnd : tglEnd
                },
            },
            columns: [
                {data: 'no', name: 'no'},
                {data: 'nama', name: 'nama'},
                {data: 'barang', name: 'barang'},
                {data: 'merk', name: 'merk'},
                {data: 'jumlah', name: 'jumlah'},
                {data: 'datetime', name: 'datetime'},
                {data: 'aksi', name: 'aksi'},
            ],
        });
    };
    
    function Edit(id, val) {
            var id = $(id).data("id");
            console.log(id);
            $.ajax({
                type: 'ajax',
                method: 'post',
                url: '/permintaan/edit-permintaan',
                data: {
                    "id":id,
                    "status":val,
                },
                async: false,
                dataType: 'json',
                success: function (response) {
                    if (response.status == 200 || response.status == true) {
                        $("#example").DataTable().ajax.reload(null, false);
                    } else {
                        Swal.fire('Warning!', 'Try Again', 'warning');
                    }
                },
                error: function () {
                    Swal.fire('Failed!', 'Failed Input Data.', 'error');
                }
            });
        }
</script>